<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="mmjmemo" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "custom" %>
    <title>MMJmemo</title>
</head>
<body>
    <div></div>
</body>
</html>